<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Plan</title>
    <link rel="stylesheet" href="./financial-staff-financial-plan-list.component.css">
</head>

<body>
    <div class="container">
        <h1>Financial Plan</h1>
        <h2 style="font-style: italic;">Plan List</h2>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <!-- <button class="search-icon">🔍</button> -->
            <select>
                <option>Department</option>
            </select>
            <select>
                <option>Term</option>
            </select>
            <select>
                <option>Status</option>
            </select>
            <button class="search-button" style="background-color: rgb(210, 172, 172);">Search</button>
        </div>
        <button routerLink="/firstImport" class="import-button" style="background-color: rgb(210, 172, 172);">Import</button>
        <div class="tablepage">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Plan</th>
                        <th>Term</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Version</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>BU name_termplan</td>
                        <td>Q3 November 2022</td>
                        <td>BU 1</td>
                        <td>Denied</td>
                        <td>V2</td>
                        <td>
                            <a routerLink="/staffDetails" style="text-decoration: none; margin-right: 5px;">👁️</a>
                            <a routerLink="" style="text-decoration: none;">🗑️</a>                      
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BU name_termplan</td>
                        <td>Q3 November 2022</td>
                        <td>BU 2</td>
                        <td>New</td>
                        <td>V2</td>
                        <td>
                            <a routerLink="/staffDetails" style="text-decoration: none; margin-right: 5px;">👁️</a>
                            <a routerLink="" style="text-decoration: none;">🗑️</a>                      
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>BU name_termplan</td>
                        <td>Q3 November 2022</td>
                        <td>BU 3</td>
                        <td>Waiting for approval</td>
                        <td>V1</td>
                        <td>
                            <a routerLink="/staffDetails" style="text-decoration: none; margin-right: 5px;">👁️</a>
                            <a routerLink="" style="text-decoration: none;">🗑️</a>                      
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>BU name_termplan</td>
                        <td>Q3 November 2022</td>
                        <td>BU 4</td>
                        <td>Approved</td>
                        <td>V3</td>
                        <td>
                            <a routerLink="/staffDetails" style="text-decoration: none; margin-right: 5px;">👁️</a>
                            <a routerLink="" style="text-decoration: none;">🗑️</a>                      
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span style="font-size: 13px;">10/60 rows</span>
                <button>&lt;</button>
                <button>&gt;</button>
            </div>
        </div>
    </div>
</body>

</html>